.container {
    width: 1400px;
    margin: auto;
}

.mrt {
    margin: 50px 0;
}
.one {
    background-color:aqua;
} 

.two {
    background-color:rgb(233, 160, 121);
}

.three {
    border: 2px solid red;
}

.base {
    margin: 20px 0;
    padding: 10px;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
}
.middle {
    padding: 10px;
    background-color:rgb(128, 57, 57);
}

.append {
    color: aliceblue;
    padding: 10px;
    background-color:rgb(79, 203, 60);
}

.prepend {
    color: aliceblue;
    padding: 10px;
    background-color:#433ccb;
}

.before {
    color: aliceblue;
    padding: 10px;
    background-color:#be5858;
}

.after {
    color: aliceblue;
    padding: 10px;
    background-color:#252525;
}

.replace-with {
    margin: 20px 0;
    padding: 10px;
    background-color:rgb(127, 144, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
}